@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* define global colors */
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --white: hsl(0, 0%, 100%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --grayish-cyan: hsl(183, 15%, 56%);
    --strong-cyan: hsl(172, 67%, 45%);
    --bg-input: hsl(185, 38%, 97%);
    --color-error: hsl(13, 70%, 61%);
    --bg-hover: hsl(173, 61%, 77%);
    --bg-empty: hsl(183, 78%, 24%);

    font-family: "Space Mono", monospace;
    font-size: 62.5%;

    --desktop-breakpoint: 62.5rem;
    --tablet-breakpoint: 31.25rem;
}

.color-light-grayish-cyan {
    color: var(--light-grayish-cyan);
}

.color-white {
    color: var(--white);
}

.color-dark-grayish-cyan {
    color: var(--dark-grayish-cyan);
}

.color-very-dark-cyan {
    color: var(--very-dark-cyan);
}

.color-strong-cyan {
    color: var(--strong-cyan);
}

.color-error {
    color: var(--color-error);
}

.color-grayish-cyan {
    color: var(--grayish-cyan);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.screen {
    min-height: 100vh;
    background-color: var(--light-grayish-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tablet-breakpoin */
@media (min-width: 31.25rem) {
    .screen {
        padding: 0rem 2.5rem 5rem 2.5rem;
    }
}
