.form__section--inputs {
    padding: 0rem 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.form__control {
    display: flex;
    flex-direction: column;
}

.form__control-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.form__control-error {
    display: none;
    color: var(--color-error);
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0rem;
}

.form__control-error--visible {
    display: inline;
}

.form__control--text {
    gap: 0.6rem;
}

.form__control--select {
    gap: 1.6rem;
}

.form__label {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--dark-grayish-cyan);
}

.form__input-wrapper {
    position: relative;
}

.form__icon {
    position: absolute;
    top: 50%;
    transform: translate(1.672rem, -50%);
}

.form__input {
    font-family: 'Space Mono', monospace;
    padding: 0.6rem 1.672rem;
    width: 100%;
    text-align: right;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--very-dark-cyan);
    border: 0.2rem solid var(--bg-input);
    border-radius: 0.5rem;
    background-color: var(--bg-input);
    transition: border-color 0.3s ease-out;
}

.form__input--error {
    border-color: var(--color-error);
}

.form__input:hover {
    cursor: pointer;
    border-color: var(--strong-cyan);
}

.form__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 1.656rem;
    row-gap: 1.6rem;
}

.form__radio {
    display: none;
}

.form__radio-label {
    padding: 0.6rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--white);
    background-color: var(--very-dark-cyan);
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}

.form__radio-label:hover {
    background-color: var(--bg-hover);
    color: var(--very-dark-cyan);
    cursor: pointer;
}

.form__radio:checked + .form__radio-label {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

/* desktop-breakpoint */
@media (min-width: 62.5rem) {
    .form__section--inputs {
        padding: 1.3rem 0rem 1.6rem 1.6rem;
        gap: 4rem;
    }

    .form__options {
        grid-template-columns: repeat(3, 12.5rem);
        column-gap: 1.4rem;
    }
}
