main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.086rem;
}

main > form {
    padding: 3.2rem 2.4rem;
    background-color: var(--white);
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    transition: border-radius 0.5s ease-in;
}

/* tablet-breakpoint */
@media (min-width: 31.25rem) {
    main > form {
        border-radius: 2.5rem;
    }
}


/* desktop-breakpoint */
@media (min-width: 62.5rem) {
    main > form {
        padding: 3.2rem;
        flex-direction: row;
        gap: 3.2rem;
    }
}