.form {
    background-color: var(--white);
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    padding: 3.2rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

/* tablet-breakpoint */
@media (min-width: 37.5rem) {
    .header {
        grid-column: 1 / 9;
    }

    .main {
        grid-column: 1 / 9;
    }

    .form {
        border-radius: 2.5rem;
    }
}

/* desktop-breakpoint */
@media (min-width: 62.5rem) {
    .header {
        grid-column: 6 / 8;
    }

    .main {
        grid-column: 2 / 12;
    }

    .form {
        padding: 3.2rem;
        flex-direction: row;
        gap: 4.8rem;
    }
}