.form__section--results {
    padding: 3.7rem 2.2rem 2.4rem 2.4rem;
    background-color: var(--very-dark-cyan);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.results__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.results__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.results__label {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--white);
}

.results__sub-label {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: #7F9D9F;
}

.results__value {
    font-size: clamp(3.2rem, 7vw, 4.8rem);
    font-weight: 700;
    letter-spacing: -0.067rem;
    color: var(--strong-cyan);
}

.form__reset-button {
    border: none;
    padding: 0.9rem;
    border-radius: 0.5rem;
    background-color: var(--bg-empty);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--very-dark-cyan);
    transition: all 0.3s ease-out;
}

.form__reset-button--enabled {
    background-color: var(--strong-cyan);
    cursor: pointer;
}

.form__reset-button--enabled:hover {
    background-color: var(--bg-hover);
}

/* desktop-breakpoint */
@media (min-width: 62.5rem) {
    .form__section--results {
        padding: 4rem;
        gap: 12.2rem;
    }

    .results {
        gap: 2.5rem;
    }

    .results__item {
        justify-content: start;
        gap: 9.2rem;
    }
}
